html {background-color: #FFC300}

h1 , h2 {text-align: center;
    font-family: "Newsreader" , serif; 
    color: #900C3F;}

sup {font-size: 18px}

body {font-family: "Newsreader" , serif; 
    font-weight: 570;}

header {margin-left: 150px; 
    margin-right: 166px;
    background-color: #FFE38A}

    header p {font-family: "Assistant" , sans-serif; 
        text-align: right;}

    header h3 {text-align: right; 
        font-family: "Assistant" , sans-serif; 
        font-size: 23px; 
        color: #C70039;}

    nav {margin-left: 150px; 
        margin-right: 166px;
        font-family: "Assistant" , sans-serif; 
        font-size: 23px;
        background-color: #FFE38A;}
        
    .title {margin-left: 20px; 
        font-size: 23px;}
        
    p {text-align: justify; 
        font-size: 23px;}

article {margin-left: 150px; 
    margin-right: 166px;
    background-color: #FFE38A;}

    article p{text-align: justify; 
        font-size: 25px}

article h3 {color: #C70039;}
            .pag {text-align: center; 
                color: #C70039;}

            .epigrafe {text-align: right; 
                margin-left: 400px}

            .cita {font-size: 20px; 
                margin-left: 70px;}

            .encabezado {font-family: "Assistant" , sans-serif; 
                font-size: 15pt; 
                color: #6A0C30;
                text-align: left;
                margin-left: 150px;
                top: 0pt; 
                position: sticky;
                background-color: #FFC300;}

            .bibliografia {margin-left: 60px;
                text-indent: -60px;}

    .pie{font-family: "Assistant" , sans-serif; 
    font-size: 15pt; 
    color: #6A0C30;
    text-align: right;
    margin-right: 166px;
    bottom: 0pt; 
    position: sticky;
    background-color: #FFC300;}

a:link {
  color: dimgrey;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #550505;
  background-color: transparent;
  text-decoration: none;
}

aside{position: fixed;
    left: 0pts; top: 80px;}

img {position: fixed;
right: 0px;
top: 25px;
width: 156px;
height: 615px;
bottom: 25px;}

ul {font-family: "Assistant" , sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #FFC300;
  font-weight: 500;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #C70039;
  color: white;
}

