body {
  font-family: serif, LibreBaskerville;
  font-size: 12pt;
  background-color: #f0e4d7;
  text-align: justify;
  margin-right: 100pt;
  margin-left: 100pt;
  color: #2E2633;
  font-weight: 500;
    
}


h1 {
  text-align: center;
  top: 0pt;
  position: sticky;
  background-color: #f0e4d7;
  color: #1C3143;
}

h2, h3, h4, h5, h6, h7 {
  text-align: center;
  }
  
p {
  font-size: 18pt;
}


span.fecha {
  color: #C15050;
}

span.expansion {
  color: #693c72;
  text-decoration: underline;
}

div.imprenta {
  font-weight: bold;
  text-align: center;
}

div.lugar-pub {
  font-weight: bold;
  color: purple;
  text-align: center;
}

div.fecha-pub {
  font-style: italic;
  color: #ff7171;
  text-align: center;
}

span.saludo {
    margin-left: 35pt;
    font-size: 18pt;
}

div.despedida{
    text-align: right;
    font-size: 18pt;
    font-style: italic;   
}

span.numeros {
    color: #d97642;
}

span.locaciones {
    color: #6b011f;
}

span.personajes {
    color: #290149;
    font-weight: bold;
}

span.citas {
    font-style: italic;
    color: purple;
}
