@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CUERPO DE LA PÁGINA */

body {
    font-family: "Roboto", serif;
    max-width: 100vw;
    margin: auto;
    background-color: #F1E0CC;
    animation: fadein 2s;
}

@keyframes fadein {
    from {
    opacity:0;
    }
    to {
        opacity:1;
    }
}

section {
    padding: 1em 6em 3em 6em;
}

h3.section-title {
    font-family: Raleway, sans-serif;
    font-size: 1.4em;
    padding: 2em 0em 1em 0em;
}

p.no-indent {
    text-align: justify;
}

p.indent {
    text-align: justify;
    text-indent: 3em;
}

a {
    text-decoration: none;
    color: #A10F0D;
}

/* INICIO BARRA DE NAVEGACIÓN */ 

nav {
    position: sticky;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    background-color: #F1E0CC;
}

.nav__link {
    font-family: Roboto, sans-serif;
    font-variant: small-caps;
    font-weight: 800;
    font-size: 1.2em;
    color: #000000;
    text-decoration: none;
    /* Transición para el hover */
    transition: all 0.3s ease 0s;
}

/* Hover links de barra de navegación */

.nav__link:hover {
    color: #906429;
}

/* Para justificar el contenido de la barra de navegación */
.nav__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 5em 0.5em 5em;
    list-style: none;
}

.nav__ul li {
    display: inline-block;
}

/* IMÁGENES */

.container-01 {
    position: relative;
    text-align: center;
    color: #fff;
}

.centered {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width:100%;    
    height:100%;
    position: absolute;
    top: 0;
    left: 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.centered h1 {
    font-size: 3.4em;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    text-align: center;
}

.centered h2 {
    font-size: 1.6em;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    text-align: center;
    padding: 0.5em 1em;
}

.index-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: 0 30%;
}

/* NOTAS */

#tooltip-01 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #A10F0D;
}

#tooltip-01 #tooltiptext-01 {
  visibility: hidden;
  width: 35em;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: rgb(0,0,0,0.8);
  color: #FFFFFF;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Posición */
  position: absolute;
  z-index: 1;
}

#tooltip-01 #tooltiptext-01::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 10.6%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
}

#tooltip-01:hover #tooltiptext-01 {
  visibility: visible;
}

#tooltip-02 {
    position: relative;
    display: inline-block;
    color: #A10F0D;
    cursor: pointer;
}

#tooltip-02 #tooltiptext-02 {
  visibility: hidden;
  width: 70em;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: rgb(0,0,0,0.9);
  color: #FFFFFF;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
 
  /* Posición */
  position: absolute;
  z-index: 1;
}

#tooltip-02 #tooltiptext-02::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 6.5%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
}

#tooltip-02:hover #tooltiptext-02 {
  visibility: visible;
}

#tooltip-03 {
    position: relative;
    display: inline-block;
    color: #A10F0D;
    cursor: pointer;
}

#tooltip-03 #tooltiptext-03 {
  visibility: hidden;
  width: 20em;
  bottom: 125%;
  left: 80%;
  margin-left: -16em;
  background-color: rgb(0,0,0,0.9);
  color: #FFFFFF;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
 
  /* Posición */
  position: absolute;
  z-index: 1;
}

#tooltip-03 #tooltiptext-03::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 79%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
}

#tooltip-03:hover #tooltiptext-03 {
    visibility: visible;
}

/* CITAS */

.quote-right {
    text-align: right;
}

.quote-left {
    margin-left: 5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-align: justify;
}

/* BOTONES */

.buttons {
    margin-top: 3em;
}

.button-before {
    display: inline-block;
    background-color: #906429;
    padding: 0.5em 1em 0.8em 1em;
    color: #FFFFFF;
    text-align: center;
    font-variant: small-caps;
    font-size: 1.2em;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}

.button-after {
    display: inline-block;
    float: right;
    background-color: #906429;
    padding: 0.5em 1em 0.8em 1em;
    color: #FFFFFF;
    text-align: center;
    font-variant: small-caps;
    font-size: 1.2em;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}

.button-before:hover {
    background-color: #A10F0D;
}

.button-after:hover {
    background-color: #A10F0D;
}

/* PIE DE PÁGINA */

footer {
    background-color: #906429;
    height: 10vh;
    padding: 1.8em 4em;
}

footer > p {
    color: #FFFFFF;
}

/* BIBLIOGRAFÍA */

.bibliografia {
    margin-left: 3em;
    text-indent: -3em;
    list-style: none;
}
